<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/master.css">
	<link rel="stylesheet" href="/css/dark-theme.css">
	<title>Form</title>
</head>
<style media="screen">
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	select,
	textarea {
		width: 100%;
	}

	html {
		min-height: 100%;
	}

	.container.card {
		margin-top: 5em;
	}

</style>

<body class="secondary gradient">
